body{
    background:#eaedf7;
}


td:hover{
    background-color: aquamarine;
}

#dialog{
    display: none;
}

#greet{
    text-align: right;
}

#shuffleBtn{
    text-align: center;	
}

.ui-dialog .ui-dialog-titlebar {
    border:1px;
    display: none;
}

table {
    table-layout : fixed;
}

.table-bordered{
    border: 1px solid black;
}

td span{
    display: block;
    font-weight: bold;
    font-size: larger;
}
