body{
    background:#eaedf7;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #eaedf7;
    box-shadow: 0px 5px 10px #888888;
}

#main-bingo-page{
    margin-top: 150px;
}

#bingo td{
    cursor: pointer;
    transition: background-color, 0.5s;
    transition: color, 0.5s;
    overflow-wrap: break-word;
}

#bingoAlert {
    width: 20%;
    display: none;
    position: fixed;
    right: 20px;
    top: 150px;

}

#bingo td:hover{
    background-color: aquamarine;
}

#dialog{
    display: none;
}

#greet{
    text-align: right;
}

#shuffleBtn{
    text-align: center;	
}

.ui-dialog .ui-dialog-titlebar {
    border:1px;
    display: none;
}

table {
    table-layout : fixed;
}

.table-bordered{
    border: 1px solid black;
}

td span{
    display: block;
    font-weight: bold;
    font-size: larger;
}

#achievement ul li{
    display: inline;
    margin-right: 50px;
}

@media screen and (max-height: 500px) {
    header {
        position: relative;
    }

    #main-bingo-page{
        margin-top: 50px;
    }


    #bingoAlert {
        width: 80%;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 100;
    }
}

@media screen and (max-width: 480px) {
    #bingoAlert {
        width: 80%;
        position: fixed;
        right: 20px;
        top: 50px;
        z-index: 100;
    }

    header {
        position: relative;
    }

    #main-bingo-page{
        margin-top: 50px;
    }

    #achievement ul li{
        margin-right: 20px;
    }
  }